@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --bg-primary: #13120A;
  --text-primary: #efefef;
  --light-gray: #23231F;
}

/* .light {
  --bg-primary: #13120A;
  --bg-secondary: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --border-color: #374151;
} */

/* Base styles */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Custom utility classes - 더 간결하게 사용 */
@layer utilities {
  .bg-primary {
    background-color: var(--bg-primary);
  }
  
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
  
  .text-primary {
    color: var(--text-primary);
  }
  
  .text-secondary {
    color: var(--text-secondary);
  }
  
  .border-primary {
    border-color: var(--border-color);
  }
}

/* 또는 더 간단하게 직접 CSS 변수 사용 */